.Welcome {
  background-color: black;
    height: 100vh;
    padding: 260px 510px;
}
.Welcome *{
  background-color: black;
}
  .Welcome input{
    margin-top: 5px;
    color: black;
    background-color: white;
  }
  .Welcome button{
    color: black;
    background-color: white;
  }