*{
    margin: 0;
    background: black;
    color: royalblue;
  }
  html{
      font-family: Arial, Helvetica, sans-serif;
  }
  button{
    border: none;
    border-radius: 5px;
    margin: 0px 5px;
    background: white;
    padding: 7px 8px;
  }
  input{
    background: white;
    border: none;
    border-radius: 5px;
    padding: 7px 8px;
  }